<p-toast></p-toast>
<div  class="surface-ground mt-1 border-round px-4 py-5 md:px-6 lg:px-8">
    <div  class="card">
        <p-table 
        [value]="allemployees" #dt responsiveLayout="scroll"
        [paginator]="true"     [rows]="5"  [showCurrentPageReport]="true"
        [filterDelay]="0" [globalFilterFields]="['name','typestr','title']">
    <ng-template pTemplate="caption">
        <div class="table-header">
            Employees
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" 
                    (input)="dt.filterGlobal($any($event.target).value, 'contains')" 
                    placeholder="Search" /></span>
        </div>
    </ng-template>
        <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="typestr">Category<p-sortIcon field="typestr"></p-sortIcon></th>
            <th pSortableColumn="title">Job title<p-sortIcon field="title"></p-sortIcon></th>
            <th>Mobile</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-employee>
        <tr>
            <td>{{employee.name}}</td>
            <td>{{employee.typestr}}</td>
            <td>{{employee.title}}</td>
            <td>{{employee.mobile}}</td>
            <div class="flex pt-5 align-items-center justify-content-center">
                <td (click)="modifyEmployee(employee)"><button pButton pRipple type="button" icon="pi pi-pencil"  class="p-button-rounded p-button-text"></button></td>
                <td (click)="deleteEmployee(employee)"><button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text"></button></td>
            </div>
        </tr>
    </ng-template>
</p-table>
    </div>
</div>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
