<p-toast></p-toast>
<div class="block bg-red-300 font-bold p-3 border-round mb-3">
<p-card  >
        <div  class="card">
        <div class="formgrid grid">
            <div class="field col-12 md:col-12">
                <h2>Settings</h2>
            </div>  
            <div class="field col-12 md:col-2">
                <p-autoComplete (onSelect)="allowEdit()" [(ngModel)]="selectedEmployee" [suggestions]="filteredEmployees" (completeMethod)="filterEmployee($event)"
                                  field="name" [minLength]="1" placeholder="Select Employee"  [dropdown]="true"></p-autoComplete>
            </div>
            <div *ngIf="!isEdit" class="field col-12 md:col-6">
                <button (click)="Close()" pButton pRipple type="button" label="Close tab" class="p-button-raised p-button-text p-button-plain w-fit"></button>
            </div>        
        </div>
    </div>
</p-card>    
<p-card  *ngIf="isEdit" header={{this.selectedEmployee.name}} class="justify-content-center">
    <div class="card">
        <div class="formgrid grid">
            <div *ngIf="employeeObj" class="grid p-fluid">
                <div class="field col-12 md:col-3">
                    <label for="salary">Salary</label>
                    <input [(ngModel)] ="employeeObj.salary" type="text" pInputText  [disabled]="false" class="w-full">         
                </div>
                <div class="field col-12 md:col-3">
                    <label for="pf">PF</label>
                    <input [(ngModel)] ="employeeObj.pf" type="text" pInputText [disabled]="false" class="w-full">         
                </div>    
                <div class="field col-12 md:col-3">
                    <label for="cash">Payment Mode</label>
                    <input [(ngModel)] ="employeeObj.paymentmode" type="text" pInputText [disabled]="false" class="w-full">         
                </div>    
                <div class="field col-12 md:col-3">
                    <label for="cash">Advance</label>
                    <input [(ngModel)] ="employeeObj.cashadvance" type="text" pInputText [disabled]="true" class="w-full">         
                </div>    
                <div class="field col-12 md:col-3">
                    <label for="accountname">Acc Name</label>
                    <input [(ngModel)] ="employeeObj.accountname" type="text" pInputText [disabled]="false" class="w-full">         
                </div>    
                <div class="field col-12 md:col-3">
                    <label for="bank">Bank</label>
                    <input [(ngModel)] ="employeeObj.bankname" type="text" pInputText  [disabled]="false" class="w-full">         
                </div>
                <div class="field col-12 md:col-3">
                    <label for="account">Account Number</label>
                    <input [(ngModel)] ="employeeObj.account" type="text"  pInputText [disabled]="false" class="w-full">         
                </div>    
                <div class="field col-12 md:col-3">
                    <label for="ifsc">IFSC Code</label>
                    <input [(ngModel)] ="employeeObj.ifsccode" type="text"  pInputText  [disabled]="false" class="w-full">         
                </div>    
            </div>
    
        </div>  
    
        <div class="formgrid grid mt-4">
            <div class="field col-12 md:col-3">
            </div>
            <div class="field col-12 md:col-3">
            </div>
            <div class="field col-12 md:col-3">
            <!-- <button (click)="onSave()" type="button" class="text-white bg-green-700 border-red-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-primary-600 hover:border-primary-600 active:bg-primary-700 active:border-primary-700">Save</button> -->
            <button (click)="onSave()" pButton pRipple type="button" label="Save" class="p-button-raised p-button-primary p-button-text w-full "></button>
        </div>
        <div class="field col-12 md:col-3">
            <button (click)="onCancel()" pButton pRipple type="button" label="Cancel" class="p-button-raised p-button-text p-button-plain w-full"></button>
        </div>        
        </div>  
</div>
</p-card>
</div>  
