<p-toast></p-toast>
<div class="surface-ground mt-1 border-round px-4 py-5 md:px-6 lg:px-8">
    <div class="flex align-items-center justify-content-center">
        <p-card header="Job Category" [style]="{'width': '25rem', 'margin-bottom': '2em','background-color':'beige'}" >
            <div class="formgrid grid">
                <div class="field col-12 md:col-12">
                <label for="name" class="col-fixed" style="width:100px">Name</label>
                <input  id="name" [(ngModel)]="name" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
                <div class="field col-12 md:col-12">
                    <label for="name" class="col-fixed" style="width:100px">Name</label>
                    <input  id="name" [(ngModel)]="description" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                    <div class="field col-12 md:col-6">
                <label for="size" class="col-fixed" style="width:100px">Size</label>
                <input  id="size" [(ngModel)]="size" type="number" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
                <div class="field col-12 md:col-6">
                <label for="rate" class="col-fixed" style="width:100px">Rate</label>
                <input  id="rate" [(ngModel)]="rate" type="number" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
                <div class="field col-12 md:col-6">
                    <button (click)="onCancel()" type="button" class="text-white bg-red-700 border-red-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-primary-600 hover:border-primary-600 active:bg-primary-700 active:border-primary-700 mt-2 w-full">Cancel</button>
                </div>
                <div class="field col-12 md:col-6">
                    <button (click)="onSave()" type="button" class="text-white bg-green-700 border-green-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-primary-600 hover:border-primary-600 active:bg-primary-700 active:border-primary-700 mt-2 w-full">Save</button>
                </div>
            
            </div>
        </p-card>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
