<p-toast></p-toast>
<div *ngIf="!isModify" class="surface-ground mt-1 border-round px-4 py-5 md:px-6 lg:px-8">
        <div  class="card">
        <p-table [value]="allusers" styleClass="p-datatable-sm" 
                 [scrollable]="true" [rows]="10" scrollHeight="400px"
                 [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="caption">
                Available User Logins
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th>Login Id</th>
                    <th>Email</th>
                    <th>User Category</th>
                    <th>Modify</th>
                    <th>Delete</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                    <td>{{user.name}}</td>
                    <td>{{user.login}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.category}}</td>
                    <td (click)="modifyUser(user)"><button pButton pRipple type="button" icon="pi pi-pencil"  class="p-button-rounded p-button-text"></button></td>
                    <td (click)="deleteUser(user)"><button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text"></button></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="flex pt-5 align-items-center justify-content-center">
        <button (click)="Close()" pButton pRipple type="button" label="Close tab" class="p-button-raised p-button-text p-button-plain"></button>
        </div>
</div>

<div *ngIf="isModify" class="surface-ground mt-1 border-round px-4 py-5 md:px-6 lg:px-8">
    <p-panel  header="Modify User data">
        <ng-template pTemplate="icons">
            <button (click)="onCancel()" pButton class="p-button-secondary p-2 m-2">Cancel </button>
            <button (click)="onSave()" pButton class="p-button-success p-2 m-2">Update </button>
        </ng-template>

<div class="card border-round border-y-2 border-x-2 border-blue-300 pt-2 pr-2 pl-2">
    <h5>Amend User Form</h5>
    <div *ngIf="userObj" class="formgrid grid">
        <div class="field col-12 md:col-4">
            <label for="name">Name</label>
            <input [(ngModel)] = "userObj.name" id="name" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-4">
            <label for="login">LoginId</label>
            <input [(ngModel)] = "userObj.login" id="login" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-4">
            <label for="usertype">User type</label>
            <p-dropdown [(ngModel)]="selectedType" [options]="typesarr" class="text-base surface-overlay p-2 border-1 border-solid" [editable]="true" class="w-full"  id="usertype" placeholder="Select User Type" optionLabel="name" [showClear]="true" >
            </p-dropdown>
        </div>
        <div class="field col-12 md:col-6">
            <label for="email">Email</label>
            <input [(ngModel)] = "userObj.email" id="email" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-6">
            <label for="mobile">Mobile</label>
            <input [(ngModel)] = "userObj.mobile" id="mobile" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12">
            <label for="address">Address</label>
            <textarea [(ngModel)] = "userObj.address" id="address" type="text" rows="4" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
        </div>
        <div class="field col-12 md:col-4">
            <label for="city">Town/City</label>
            <input [(ngModel)] = "userObj.area" id="city" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-4">
            <label for="state">State</label>
            <select [(ngModel)] = "userObj.state" id="state" class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" style="appearance: auto">
                <option>Tamilnadu</option>
                <option>Karnataka</option>
                <option>Kerala</option>
                <option>AndhraPradesh</option>
                <option>Other</option>
            </select>
        </div>
        <div class="field col-12 md:col-4">
            <label for="zip">Zip</label>
            <input [(ngModel)] = "userObj.zip" id="zip" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
</div>
</div>
</p-panel>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
