<p-toast></p-toast>
<div class="surface-ground mt-1 border-round px-4 py-5 md:px-6 lg:px-8">

    <div class="card">
        <div class="flex align-items-left justify-content-center">
                    <h5>Change Password</h5>
        </div>  
    
        <div *ngIf="adminuser">
            <div class="flex align-items-center justify-content-center m-2">
                <div class="field-radiobutton">
                <p-radioButton (click)="other()"  name="own" value="own" [(ngModel)]="passwordoption" inputId="own"></p-radioButton>
                <label for="own">Admin Password</label>
                </div>

                <div class="field-radiobutton">
                <p-radioButton (click)="other()"  name="other" value="other" [(ngModel)]="passwordoption" inputId="other"></p-radioButton>
                <label for="other">Other User password</label>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="radioClicked" class="card">
        <div class="flex align-items-center justify-content-center">
            <div class="field grid">
                <p-dropdown *ngIf="other()" [options]="userarr" [(ngModel)]="selectedUser" class="text-base surface-overlay p-2 border-1 border-solid" [editable]="true" class="w-full"  id="usertype" placeholder="Select User" optionLabel="name" [showClear]="true" >
                </p-dropdown>
            </div>
        </div>
        <div class="flex align-items-center justify-content-center mt-4">
            <div class="field grid">
            <label for="password" class="col-fixed" style="width:100px">Password</label>
                <div class="col">
                <input id="password" [(ngModel)]="password" type="password" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                </div>
            </div>
        </div>
        <div class="flex align-items-center justify-content-center">
            <div class="field grid">
            <label for="repassword" class="col-fixed" style="width:100px">Re-type</label>
                <div class="col">
                 <input  (click)="passmatch=false" id="repassword" [(ngModel)]="repassword" type="password" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                </div>
            </div>
        </div>

        <div class="flex align-items-center justify-content-center">
            <div class="field grid">
                <small *ngIf="passmatch" class="p-error">
                    <span>Password doesn't match</span>
                </small>    
            </div>
        </div>
        <button (click)="onSave()" type="button" class="text-white bg-green-700 border-green-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-primary-600 hover:border-primary-600 active:bg-primary-700 active:border-primary-700 w-full mt-5">Save</button>
        <button (click)="closeWindow()" type="button" class="text-white bg-red-700 border-red-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-yellow-600 hover:border-primary-600 active:bg-orange-700 active:border-primary-700 w-full mt-5">Cancel</button>

    </div>
    </div>
    <p-dialog header="Header" [(visible)]="displayBasic" [style]="{width: '50vw'}">
        <p>The Password Has been Changed Successfully</p>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="closeWindow()" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>