
<p-toast></p-toast>

<div class="surface-ground mt-1 border-round px-4 py-5 md:px-6 lg:px-8">

<div class="card">
    <form [formGroup]="form">
    <h5>New User Form</h5>
    <div class="formgrid grid">
        <div class="field col-12 md:col-4">
            <label for="name">Name</label>
            <input formControlName="username" id="name" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            <small *ngIf="userForm.username.invalid && isSubmitted" class="p-error">
                <span *ngIf="userForm.username.errors?.required">Name is Mandatory</span>
            </small>
        </div>
        <div class="field col-12 md:col-4">
            <label for="login">LoginId</label>
            <input formControlName="login" id="login" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            <small *ngIf="userForm.login.invalid && isSubmitted" class="p-error">
                <span *ngIf="userForm.login.errors?.required">Login is Mandatory</span>
            </small>
        </div>
        <div class="field col-12 md:col-4">
            <label for="usertype">User type</label>
            <p-dropdown [options]="typesarr" formControlName="usertype" class="text-base surface-overlay p-2 border-1 border-solid" [editable]="true" class="w-full"  id="usertype" placeholder="Select User Type" optionLabel="name" [showClear]="true" >
            </p-dropdown>
            <small *ngIf="userForm.usertype.invalid && isSubmitted" class="p-error">
                <span *ngIf="userForm.usertype.errors?.required">Type is Mandatory</span>
            </small>
        </div>
        <div class="field col-12 md:col-6">
            <label for="password">Password</label>
            <input formControlName="password" id="password" type="password" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            <small *ngIf="userForm.password.invalid && isSubmitted" class="p-error">
                <span *ngIf="userForm.password.errors?.required">Password is Mandatory</span>
            </small>
        </div>
        <div class="field col-12 md:col-6">
            <label for="repassword">Re-type Password</label>
            <input (input)="passwordmatch()" formControlName="repassword" id="repassword" type="password" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            <small *ngIf="passwordmatching" class="p-error">
                <span >Password Not Matching</span>
            </small>
        </div>
        <div class="field col-12 md:col-6">
            <label for="email">Email</label>
            <input formControlName="email" id="email" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            <small *ngIf="userForm.email.invalid && isSubmitted" class="p-error">
                <span *ngIf="userForm.email.errors?.required">Email is Mandatory</span>
                <span *ngIf="userForm.email.errors?.email">Email id is Invalid</span>
            </small>
        </div>
        <div class="field col-12 md:col-6">
            <label for="mobile">Mobile</label>
            <input formControlName="mobile" id="mobile" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            <small *ngIf="userForm.mobile.invalid && isSubmitted" class="p-error">
                <span *ngIf="userForm.mobile.errors?.required">Mobile is Mandatory</span>
            </small>
        </div>
        <div class="field col-12">
            <label for="address">Address</label>
            <textarea formControlName="address" id="address" type="text" rows="4" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
        </div>
        <div class="field col-12 md:col-4">
            <label for="city">Town/City</label>
            <input formControlName="city" id="city" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-4">
            <label for="state">State</label>
            <select formControlName="state" id="state" class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" style="appearance: auto">
                <option>Tamilnadu</option>
                <option>Karnataka</option>
                <option>Kerala</option>
                <option>AndhraPradesh</option>
                <option>Other</option>
            </select>
        </div>
        <div class="field col-12 md:col-4">
            <label for="zip">Zip</label>
            <input formControlName="zip" id="zip" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
    <div class="field col-12 md:col-6">
        <button (click)="onCancel()" type="button" class="text-white bg-red-700 border-red-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-primary-600 hover:border-primary-600 active:bg-primary-700 active:border-primary-700 w-full">Cancel</button>
    </div>
    <div class="field col-12 md:col-6">
        <button (click)="onSave()" type="button" class="text-white bg-green-700 border-green-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-primary-600 hover:border-primary-600 active:bg-primary-700 active:border-primary-700 w-full">Save</button>
    </div>
</div>
</form>
</div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
