
        <div class="aham card shadow-2 border-round w-full lg:w-12">
            <p-menubar [model]="items" styleClass="p-menuitem-link-active">
                <ng-template pTemplate="start">
<!--                    <img (click>src="assets/settings.png" height="40" class="mr-2"> -->
                    <button (click)="home()" pButton pRipple type="button" icon="pi pi-home" class="p-button-rounded p-button-secondary"></button>
                </ng-template>
                <!-- <ng-template pTemplate="end">
                    <input type="text" pInputText placeholder="Search">
                </ng-template> -->
            </p-menubar>
        </div>  

