<p-toast></p-toast>
<p-panel header="Job Categories">
 <div  class="surface-ground mt-1 border-round px-4 py-5 md:px-6 lg:px-8"> 
    <!-- <div *ngIf="isInputForm" class="formgrid grid border-blue-200 justify-content-center"> -->
    <div *ngIf="isInputForm" class="grid p-fluid align-content-center justify-content-center">
        
        <div class="field col-12 md:col-6">
            <input placeholder="Job name" [(ngModel)]="name" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-6">
            
            <input placeholder="Description" [(ngModel)]="description" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-6">
            <input placeholder="Size" [(ngModel)]="size" type="number" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-6">
            <input placeholder="Rate" [(ngModel)]="rate" type="number" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-2">
            <!-- <button (click)="onSave()" type="button" class="text-white bg-green-700 border-red-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-primary-600 hover:border-primary-600 active:bg-primary-700 active:border-primary-700">Save</button> -->
            <button (click)="onSave()" pButton pRipple type="button" label="Save" class="p-button-raised p-button-success p-button-text w-full "></button>
        </div>
        <div class="field col-12 md:col-2">
            <!-- <button (click)="onSave()" type="button" class="text-white bg-green-700 border-red-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-primary-600 hover:border-primary-600 active:bg-primary-700 active:border-primary-700">Save</button> -->
            <button (click)="onCancel()" pButton pRipple type="button" label="Cancel" class="p-button-raised p-button-danger p-button-text justify-content-end w-full"></button>
        </div>
    </div>
    <div *ngIf="!isInputForm" class="formgrid grid border-blue-200 justify-content-center">
 
        <div class="field col-12 md:col-2">
            <!-- <button (click)="onSave()" type="button" class="text-white bg-green-700 border-red-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-primary-600 hover:border-primary-600 active:bg-primary-700 active:border-primary-700">Save</button> -->
            <button (click)="addType()" pButton pRipple type="button" label="Add New" class="p-button-raised p-button-primary p-button-text w-full "></button>
        </div>
        <div class="field col-12 md:col-2">
            <button (click)="Close()" pButton pRipple type="button" label="Close tab" class="p-button-raised p-button-text p-button-plain"></button>
        </div>        

    </div>

    <div *ngIf="!isInputForm" class="surface-ground mt-1 border-round px-4 py-5 md:px-6 lg:px-8">
        <div class="card">
            <p-table [value]="allTypes" styleClass="p-datatable-sm" >
                <ng-template pTemplate="caption">
                    List of Job Types  
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Name</th>
                        <th>Size</th>
                        <th>Rate</th>
                        <th>Modify</th>
                        <th>Delete</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-type>
                    <tr>
                        <td>{{type.name}}</td>
                        <td>{{type.size}}</td>
                        <td>{{type.rate}}</td>
                        <td (click)="modifyType(type)"><button pButton pRipple type="button" icon="pi pi-pencil"  class="p-button-rounded p-button-text"></button></td>
                        <td (click)="deleteType(type)"><button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text"></button></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
</p-panel>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
